@import "tailwindcss";

@theme {
  --color-blue: #0a214e;
  --color-slate: #2d2d2d;
  --color-golden: #cc9900;
}

@layer base {
  body {
    @apply bg-blue selection:bg-blue selection:text-golden mx-auto max-w-screen-2xl;
  }
}
